
	<div class="header">
		<div class="container">
			<div class="logo">
				<a routerLink="welcome"><span>TE</span>ST</a>
			</div>
			<div class="header-right">

          <!--/*RightSide*/-->
          <ul class="nav navbar-nav">
             <li>
              <a routerLink="/addcategory">
                  <p>Add Category</p>
              </a>
            </li>
          
              <li>
                 <a routerLink="/addproduct">
                    <p>Add Product</p>
                </a>
              </li>

                <li>
                 <a routerLink="/productlist">
                   <p>Product List</p>
                </a>
              </li>

          </ul>

  <!-- On the right side of our navbar we'll display the login and logout actions depending on user state -->

          <ul class="nav navbar-nav navbar-right">
               <li>
                <!-- Notification -->
                 <a routerLink="/report">
                     <p>Report</p>
                 </a>
              </li>
         </ul>
		</div>
		</div>
	</div>

	<div class="container">
        <router-outlet></router-outlet>
      </div>

            <!--footer section start-->
      <footer>
        <div class="footer-bottom text-center">
        <div class="container">
            <div class="footer-logo">
                <a href="index.html"><span>TE</span>ST</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </footer>
    <!--footer section end-->
